.contactos{
    background-color: nth($colores , 5 );
    @extend %FlexRow;
    justify-content: space-around;
   padding-bottom: 40px;
   color:nth($colores , 3 );
   padding-left: 20px;
   padding-right: 20px;
   font-size: nth($font-siz, 3 )
  }
  .contactados ul li, .atencionCliente ul li{
    list-style: none;
  }
  .contactados ul, .atencionCliente p, .atencionCliente div .redes{
    padding-left:0;
    margin-bottom: 0;
  }
  .atencionCliente{
    @extend %FlexColumn;
    align-items: center;
  }
  .redes{
    @extend %FlexRow;
    justify-content: center;
  }
  .redes li{
    margin: 0 5px;
  }
  .contactosinside{
    padding-top:40px;
  }

  @media only screen and (min-width: 576px){
    .contactos div, .contactos div ul{ 
        display:flex;
        flex-direction: row;  
        align-items: center;
        justify-content: space-between;
        font-size: nth($font-siz, 7)
      }
    .contactos div ul li, .atencionCliente p, footer p{
        padding: 0 20px
      }
    .contactos{
        justify-content: space-between;
        display: flex;
        flex-direction: row;
      }
    .contactos-personas{
        padding-top: 0;
    }
  }
